
.home-inner-container1{
    width:100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 30px;

}
.home-inner-container2{
    width: 100%;
}
.home-icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.home-search{
    /* display: none !important; */
    /* background-color: aqua; */
        width: 40% !important;
        height: 40px !important;
        /* border: 1px solid black; */
        border-radius: 6px;
        padding-left: 30px !important;
}
.home-icon-left-container{
    /* background-color: darkkhaki; */
    display: flex;
    /* align-items: center; */
    align-items: left;
    gap: 20px;
    width: 70%;
}
.home-export-add-container{
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    gap: 20px;
}
.slect-dropdown-container{
    /* background-color: #d41217; */
    width: 100% !important ;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.select-dropdown{
    /* background-color: blueviolet; */
    width: 30% !important; 
}
.export-button{
    height: 34px;
    text-transform: none;
    font-family: Poppins;
    font-size: 14px;
    background-color: #d41217;
    color: white;
    min-width: 48px;
}

.summary-container{
    margin-top: 30px;
}