*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar-full-container{
    width:100vw;
    height: 100vh;
}

.navbar-container{
    width:100%;
    height:8%;
    padding-left: 15px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.navbar-content{
    display: flex;
    flex-direction:row; 
    justify-content:space-between;
    width:100%;
}
.navbar-left{
    display: flex; 
    flex-direction: flex-start;
    align-items: center;
    gap:10px;
    justify-content:center;
}
.navbar-aolimage{
    width:150px;
    height:65px;
} 

.navbar-right{
   display: flex;
   flex-direction:row; 
   align-items:center;
   gap:10px;
}
.navbar-right-content{
    color:grey;
    font-size: 18px;
}