*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar-full-container{
    width:100%;
    height: auto;
    padding: 5px 0px;
    position: sticky;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(220, 227, 229);
    margin-bottom: 30px;
    top: 0px;
    z-index: 1;
}

.navbar-container{
    width:100%;
    padding-left: 15px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.navbar-content{
    display: flex;
    flex-direction:row; 
    justify-content:space-between;
    width:100%;
}
.navbar-left{
    display: flex; 
    flex-direction: flex-start;
    align-items: center;
    gap:10px;
    justify-content:center;
}
.menu-icon{
    cursor: pointer;
}
.navbar-aolimage{
    width:150px;
    height:65px;
    margin-left: 20px;
    cursor: pointer;
} 

.navbar-right{
   display: flex;
   flex-direction:row; 
   align-items:center;
   gap:10px;
}
.navbar-right-content{
    color:grey;
    font-size: 18px;
}