.export-outer-container{
    background-color: white;
}
.export-inner-container1{
    width:100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding:0px 25px;

}
.export-inner-container2{
    width: 100%;
    
}
.export-heading-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.export-heading{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 20px;

}
.export-close{
    display: flex;
    align-items: center;
    gap: 20px;

}
.export-subheading-container{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.export-icon-left-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    padding-left: 56px;
}
.export-search{
    width: 50%;
    height: 45px;
    border: 1px solid black;
    border-radius: 6px;
    padding-left: 10px;
}


.export-buttons-container{
   
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
}
.export-selectedrows-button{
display: inline-block;
text-align: center;
background: #b7b7b7;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
color:#fff
}
.export-allrows-button{
    display: inline-block;
    text-align: center;
    background: #2c7cf5;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color:#fff
}
.slect-dropdown-container{
    width: 60%;
    height: 40px;
}
.select-dropdown{
    width: 100%;
}
.hr-line{
    margin-bottom: 30px;
}
.summary-container{
    margin-top: 30px;
}