.Background{
    background-color: lightgray;
    padding-top: 20px;

}
.AllReg-outer-contanier{
    width:100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.AllReg-inner-container1{
    width:90%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.AllReg-inner-container2{
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
}
.All-Cards-Container{
    padding-top: 10px;
}
@media screen and (max-width:760px) {
   .AllReg-inner-container2  {
justify-content: center;
align-items: center;
text-align: center;
   } 
}