.Tabbar_mainbox
{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    /* background-color:#D3D3D3; */
}
.Tabbar_boxContainer
{
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    padding:10px!important;
}
.Tabbar_BoxSection
{
    background-color:white!important;
    border-radius: 2px !important;
    padding: 5px !important;

}
.TabBar_Tabssection
{
    display:'flex'!important;
    justify-content: center !important;
    align-items: center !important;
    margin-left:5px !important;
    /* background-color:pink */

}
 .TabBar_Tab
 {
    border-radius: 5px !important;
    font-size: 0.850 !important;
    min-height:16px !important;
    font-weight:bold !important;
    margin-left: 5px !important;
 }
 .TabBar_TabPanelSection
 {
    width:'99%'!important;
    margin:'0px auto' !important;
    margin-top: 20px !important;
    border-radius: 10px !important;
 }