.s3-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s3-inner-container1 {
    width: 90%;
}

.s3-tabbar {
    background-color: white;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.s3-home {
    font-size: 20px;
    width: 90%;
    font-weight: 500;
}

.s3-tm {
    margin-top: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.s3-tm-inner-container {
    width: 90%;
    margin-top: 40px;
    height: 75vh;
}

.s3-search-teacher {

    border: solid 1px grey;
    border-radius: 10px;
    margin-top: 40px;
    height: 60vh;

}

.s3-search-teacher-inner-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.s3-input-feild {
    font-size: 25x;
    height: 40px;
    width: 400px;
}

.s3-st-text {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 18px;
    font-weight: 500;
}

.s3-st-input {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.s3-search-button{
    all: unset;
    height: 35px;
    width: 100px;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.s3-cancel-text{
    color: #1976D2;
    text-decoration: underline;
    font-size: 18px;
    margin-left: 20px;
}

.s3-go-back-button{
    margin-top: 100px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center ;
}